@page "/admin-panel"
@model Task4_UserManagement.Pages.AdminPanelModel
@{
    Layout = null; // No shared layout
    ViewData["Title"] = "Admin Panel";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/components/admin.css" />
</head>
<body>
    <h1 style="text-align:center; margin-top: 50px;">ADMIN PANEL</h1>
</body>
</html>
